
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <ul class="d-flex gap-3">
                <a href="/students/index" class="btn btn-success">Index</a>
                <a href="/students/Create" class="btn btn-success">Create</a>
                <a href="/students/update" class="btn btn-success">Update</a>
                <a href="/students/getall" class="btn btn-success">Getall</a>
                <a href="/students/delete" class="btn btn-success">Delete</a>
            </ul>
        </nav>
    </header>
    <main class="d-flex justify-content-center bg-light">
        <h1>this is Delete page</h1>
    </main>
    <footer class="d-flex justify-content-center bg-info">
        <h2>Footer</h2>
    </footer>
</body>
</html>
